<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hello</h1>
    <form action={{ url_for('auth.login') }} method="POST">
        <fieldset>
            <legend>Login</legend>
            <label>ID: </label>
            <input type="text" name="username" /><br><br>
            <label>Password: </label>
            <input type="password" name="password" /><br><br>
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</body>
</html>